<div class="repo card shadow-sm mb-4" style="width: 100%;">
  <div class="card-body text-center">
    <h5 class="card-title">
      <a href="https://github.com/{{ include.repository }}" target="_blank">
        {{ repo_name }}
      </a>
    </h5>
    <p class="card-text text-muted">
      {{ username }}
    </p>
    <a href="https://github.com/{{ include.repository }}"
       class="btn btn-primary btn-sm"
       target="_blank">
      View Repository
    </a>
  </div>
</div>
