{% assign repo_url = include.repository | split: '/' %}
{% assign repo_name = repo_url[1] %}

<div class="repo-card p-4 border rounded w-100 d-flex flex-column justify-content-between text-center shadow-sm">
  
  <h5 class="mb-3">
    <a href="https://github.com/{{ include.repository }}" target="_blank">
      {{ repo_name }}
    </a>
  </h5>

  <div class="mt-auto">
    <a
      href="https://github.com/{{ include.repository }}"
      class="btn btn-sm btn-outline-primary"
      target="_blank"
    >
      View on GitHub
    </a>
  </div>

</div>
